In [1]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [2]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [3]:
for i in l :
    pass

In [4]:
s = "sudh"
for i in s :
    print(i)

s
u
d
h

In [5]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [6]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [7]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [8]:
s = "sudhanshu"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
n
s
h
u
print srtring  sudhanshu

In [9]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [10]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"sudh"}

In [11]:
type(b)

set

In [12]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [13]:
for i in b :
    print(i)

4
5
6
7
8
sudh

In [14]:
d = {'key1' :"sudh" , 'contact' : "sudhanshu@ineuron.ai" , "position" : "xyz"}

In [15]:
for i in d :
    print(i ,":" ,  d[i] )

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [16]:
d['key1']

'sudh'

In [1]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [3]:
list(range(0,9,-1))

[]

In [4]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
for i in range(4) :
    for j in range(0,i+1):
        print("vijay",end = " ")
    print("\n")

vijay

vijay vijay

vijay vijay vijay

vijay vijay vijay vijay

In [82]:
# n = 3
# for i in range(n):
#     for j in range(i,n-1):
#         print(" " * len("sudh"),end=" ")
#     for j in range(i+1):
#         print("sudh",end=" ")
#     for j in range(i):
#         print("sudh",end=" ")
#     print()

n = 3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i):
        print("sudh",end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [13]:
list(range(0))

[]

In [ ]:
t = (3,23,45,67,2,4,5,6)

In [12]:
t = (3,23,45,67,2,4,5,6)
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [26]:
s = 'ineuron'
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [20]:
s

'ineuron'

In [29]:
for i in range(len(s)-1, -1 , -1):
    print(i , s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [31]:
d = {'key1': 'sudh','contact':'sudanshu@ineuron.ai','position':'xyz'}

In [32]:
d

{'key1': 'sudh', 'contact': 'sudanshu@ineuron.ai', 'position': 'xyz'}

In [35]:
for i in d.items():
    print(i , type(i) , type(i[1]) )

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [36]:
l = ["sudh" , "kumar" , 3234545 , "sudanshu@ineuron.ai" , 345 , 34345353]

In [40]:
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)
print(l1)

[3234545, 345, 34345353]

In [41]:
d = {1:33345345 , "name" : "sudh" , "email_id" : "sudhanshu@ineuron.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454" }

In [44]:

for i in d:
    if type(i) == int :
        print(i, ":",d[i])

1 : 33345345
234 : 3454

In [45]:
s = "aaaabbccd"

In [53]:
for i in set(s):
    print(i , ":" , s.count(i))

a : 4
b : 2
c : 2
d : 1

In [56]:
i = 34534654646435
for i in str(i):
    print(int(i) , type(int(i)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [67]:
t = ( "sudh" ,"kumar" , [1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" : "kumar"})

In [69]:
for i in t :
    if type(i) == list or type(i) == tuple or type(i) == dict :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3
3

In [71]:
d = {4:5 ,"key1" : "sudh" , "key2" : "kumar" }

In [72]:
for i,j in d.items():
    print(i)

4
key1
key2

In [73]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [74]:
a = 10
b = 20
c = 30

In [75]:
a,b,c = 10,20,30

In [76]:
a,b,c = (10,20,30)