In [1]:
# q1 : 
# ineuron
# ineuron ineuron
# ineuron ineuron ineuron
# ineuron ineuron ineuron ineuron



# for i in range(4) :
#     for j in range(0,i+1):
#         print("ineuron",end = " ")
#     print("\n")


row = int(input("enter how many rows are required "))
for i in range(row):
    print("ineuron "*(i+1))

enter how many rows are required 3
ineuron
ineuron ineuron
ineuron ineuron ineuron

In [2]:
# q2 :

#        ineuron
# 	ineuron		ineuron
# ineuron		ineuron		ineuron
# 	ineuron		ineuron
# 		 ineuron

for i in range(6):
    if i <=3:
        n = i
    else:
        n = 6 - i
    print(("ineuron "*n).center(50,' '))

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron

In [10]:
l = [[1,2,3,4] ,(2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh" , "k2" : "ineuron", "k3" : "kumar" , 3:6 , 7:8 } , ["ineuron" , "data science"] ]

In [12]:
# Q3  : Try to extract all the list entity

for i in l :
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [13]:
# Q4  : Try to extract all the dict entities

for i in l :
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [14]:
# Q5  : Try to extract all the tuple entities

for i in l :
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [49]:
# Q6  : Try to extract all the numeric data it may be a part of dict key and values

l = [[1,2,3,4] ,(2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh" , "k2" : "ineuron", "k3" : "kumar" , 3:6 , 7:8 } , ["ineuron" , "data science"] ]

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int :
                print(j)
    if type(i) == dict:
        for j,k in i.items():
            if type(j) == int or type(k) == int:
                print(j,k)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3 6
7 8

In [7]:
# Q7  : Try to give a summation of all the numeric data


l = [[1,2,3,4] ,(2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh" , "k2" : "ineuron", "k3" : "kumar" , 3:6 , 7:8 } , ["ineuron" , "data science"] ]
l2 = []

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int :
                l2.append(j)
    if type(i) == dict:
        for j,k in i.items():
            if type(j) == int or type(k) == int:
                l2.append(j)
                l2.append(k)
print(l2)
add = 0
for i in l2:
        add = add+i
print(add)
        
# sum(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]
156

In [54]:
# Q8  : Try to filter out all the odd values out all numeric data which is a part of a list

l = [[1,2,3,4] ,(2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh" , "k2" : "ineuron", "k3" : "kumar" , 3:6 , 7:8 } , ["ineuron" , "data science"] ]

for i in l :
    for j in i:
          if type(j) == int and j%2 != 0 :
                print(j)

1
3
3
5
3
5
7
45
5
23
3
7

In [8]:
# Q9  : Try to extract "ineuron" out of this data 

l = [[1,2,3,4] ,(2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh" , "k2" : "ineuron", "k3" : "kumar" , 3:6 , 7:8 } , ["ineuron" , "data science"] ]

for i in l :
    if type(i) == tuple or type(i) == list or type(i) == set or type(i) == dict :
        for j in i:
            if j == "ineuron" :
                print(j)
    if type (i) == dict:
        for k in i.items():
            for g in k :
                if g == 'ineuron':
                    print(g)

ineuron
ineuron

In [9]:
# Q10 : Try to find out a number of occurances of all the data

l = [[1,2,3,4] ,(2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh" , "k2" : "ineuron", "k3" : "kumar" , 3:6 , 7:8 } , ["ineuron" , "data science"] ]



for i in set(l1) :
    print(i , ":" ,l1.count(i))

In [30]:
# Q11 : Try to find number of keys in dict element

l = [[1,2,3,4] ,(2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh" , "k2" : "ineuron", "k3" : "kumar" , 3:6 , 7:8 } , ["ineuron" , "data science"] ]
l1 = []
for i in l:
    if type(i) == dict:
        for j,k in i.items():
            l1.append(j)
print(l1)
len(l1)

['k1', 'k2', 'k3', 3, 7]

5

In [31]:
# Q12 : Try to find out all the string data

l = [[1,2,3,4] ,(2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh" , "k2" : "ineuron", "k3" : "kumar" , 3:6 , 7:8 } , ["ineuron" , "data science"] ]

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str :
                print(j)
    if type(i) == dict:
        for j,k in i.items():
            if type(j) == str or type(k) == str:
                print(j,k)

k1 sudh
k2 ineuron
k3 kumar
ineuron
data science

In [70]:
# Q13 : Try to find out alphanum in data

l = [[1,2,3,4] ,(2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh" , "k2" : "ineuron", "k3" : "kumar" , 3:6 , 7:8 } , ["ineuron" , "data science"] ]
l2=[]

for i in l:
    if type(i) == dict:
            for j,k in i.items(): 
                if type(j) == str or type(k) == str:
                    if j.isalnum == True:
                        l2.append(j)
    
print(l2)

[]

In [12]:
# Q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

l = [[1,2,3,4] ,(2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh" , "k2" : "ineuron", "k3" : "kumar" , 3:6 , 7:8 } , ["ineuron" , "data science"] ]
l2 = []

# for i in l:
#     if type(i) == list or type(i) == tuple or type(i) == set:
#         for j in i:
#             if type(j) == int :
#                 l2.append(j)
#     if type(i) == dict:
#         for j,k in i.items():
#             if type(j) == int or type(k) == int:
#                 l2.append(j)
#                 l2.append(k)
# print(l2)
# mul = 1
# for i in l2:
#         mul = mul*i
# print(mul)


for i in l:
    m = 1
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
            if type(j) == int :
                m = m * j
        print(type(j),m)
    if type(i) == dict :
        for k in i.items():
            for n in k:
                if type(n) == int :
                    m = m * n
        print(type(i),m)

<class 'int'> 24
<class 'int'> 720
<class 'int'> 2520
<class 'int'> 20700
<class 'dict'> 1008
<class 'str'> 1

In [35]:
# Q15 : Try to unwrap all the collection inside collection and create a slat list
908605071360000

l = [[1,2,3,4] ,(2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]), {'k1': "sudh" , "k2" : "ineuron", "k3" : "kumar" , 3:6 , 7:8 } , ["ineuron" , "data science"] ]
l2 = []

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int :
                l2.append(j)
    if type(i) == dict:
        for j,k in i.items():
            if type(j) == int or type(k) == int:
                l2.append(j)
                l2.append(k)
print(l2)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [2]:
#Just for reference purpose



#Question 15: Unwraping all data into flat list
def flatten_list(list):
    flat_list = []
    # Iterate through the outer list
    for element in list:
        if type(element) == list or type(element) == set or type(element) == tuple or type(element) == dict:
            # If the element is of type list, iterate through the sublist
            for item in element:
                flat_list.append(item)
        else:
            flat_list.append(element)
    return flat_list

nested_list = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
print('Original List', nested_list)
print('Transformed Flat List', flatten_list(nested_list))

Original List [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'data science']]
Transformed Flat List [[1, 2, 3, 4], 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, ['ineuron', 'data science']]